@font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 400;
    src:         local('Lato'), local('Lato'), url(https://fonts.googleapis.com/css?family=Lato:400,400i&subset=latin-ext) rel(stylesheet) format('truetype');

}

@font-face {
    font-family: 'Lato';
    font-style:  normal;
    font-weight: 700;
    src:         local('Lato Bold'), local('Lato-Bold'), url(https://fonts.googleapis.com/css?family=Lato:400,400i&subset=latin-ext') rel(stylesheet) format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i&subset=latin-ext');